<a href="https://colab.research.google.com/github/Surya035/BASIC-ML/blob/main/my_first_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
1.
n=int(input())
if(n%2==0):
     print("n is even number")
else:
    print("n is odd number")
    4

4
n is even number

In [7]:
2.
i=input().split()
a=sorted(i,reverse=True)
for i in a:
  print(i,end="")

560537
560537

In [10]:
3.
a=int(input())
b=int(input())
for i in range(1,b+1):
  print(a*i,end="")

2
5
246810